/* Inserta tu código aqui */
.wrapper {
width: 980px;
margin: 0 auto;
}
/*Menú*/
h2 {
	color:#FFFFFF;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700; 
	}
.header-content{
	background-color: #0B243B;
}
.list-nav{
	text-align: right;
}

.list-nav li{
	display: inline-block;
}
.list-nav a{
	display: block;
	padding: 5px 20px;
	color: #FFFFFF;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700; }
	/*text-transform: uppercase; esto es para poner en mayuscula si se escribio en minúscula*/ 
	transition: all 0.5s;/*esto se pone en el estado original*/
}

.list-nav a:hover{
	text-decoration: none;
	background: green;
}
.main-menu{
	padding: 10px;
}
/*contentido superstar*/
.centrado{
	background-color: #04B486;
	text-align: center;
	padding:50px 100px ;/*no es necesaria que le ponga la unidad*/
	color:#FFFFFF;
}
/*portafolio*/
.portafolio ul li{
	list-style: none;
	text-decoration: none;
	margin-bottom: 20px;
}
.portafolio img{
	height: 216px;
	margin: 0 20 10px 0px;
}
.portafolio {
	padding-top: 40px;
	padding-bottom: 40px;
}
/*ABOUT*/
.about{
	background-color: #04B486;
	color:#FFFFFF;
	padding: 40px 0 40px 0;
}
.about p{
	color:#FFFFFF;
	text-align: justify;
}
.about i, .centrado i, .portafolio i{
	text-align: center;
	padding:10px 0 10px 0;
}
.free{
	padding:10px 0 0 40px;
}
/*contactme*/
.btn-submit{
	text-align: center;
	margin-top: 20px;
	color: #FFF;
	background-color: #04B486;
	border: #04B486;
	width: 110px;
	height: 50px;
	margin-right: 400px;
}
.contact{
	margin-bottom: 60px;
}
/**/